<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block seo_description %}{% endblock %}">
    <meta name="keywords" content="{% block seo_keyword %}{% endblock %} ">
    <meta name="author" content="Hasnat Abdullah">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Template CSS -->
    <link href="{% static 'css/church.css' %}" rel="stylesheet">
    <link href="{% static 'css/fancybox.css' %}" rel="stylesheet">
    {% block stylesheet %} {% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
  <script src="{% static 'js/html5shiv.js' %}"></script>
  <script src="{% static 'js/respond.min.js' %}"></script>
<![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <!-- Custom Google Font : Montserrat and Droid Serif -->

    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- Navigation Bar Starts -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                    class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}"> <img src="{% static 'images/logo.png' %}" alt="logo"
                                                                   class="img-responsive"></a>
        </div>

        <div class="navbar-collapse collapse">
            {% with request.resolver_match.url_name as url_name %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="{% if url_name == 'index' %}active{% endif %}"><a href="{% url 'index' %}">HOME</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<span
                            class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-left" role="menu">
                            <li><a href="{% url 'expense_list' %}">Expenses</a></li>
                            <li><a href="{% url 'donation_list' %}">Donations</a></li>
                        </ul>
                    </li>

                    <li class="{% if url_name == 'article_list' %}active{% endif %}"><a href="{% url 'article_list' %}">BLOG</a>
                    </li>
                    <li class="{% if url_name == 'contact' %}active{% endif %}"><a
                            href="{% url 'contact' %}">CONTACT</a></li>
                </ul>
            {% endwith %}
        </div>
        <!--/.nav-collapse -->

    </div>
</div>
<!--// Navbar Ends-->
{% block body %} {% endblock %}

<!--Footer start-->
<!-- SUBSCRIBE -->
<div class="highlight-bg">
    <div class="container">
        <div class="row">
            <form action="#" method="post" class="form subscribe-form" role="form" id="subscribe_Form">
                {% csrf_token %}
                <div class="form-group col-md-3 hidden-sm">
                    <h5 class="susbcribe-head"> SUBSCRIBE <span>TO OUR NEWSLETTER</span></h5>
                </div>
                <div class="form-group col-sm-8 col-md-6">
                    <label class="sr-only">Email address</label>
                    <input type="email" class="form-control input-lg" placeholder="Enter email" name="email"
                           id="address" data-validate="validate(required, email)" required>
                    <span class="help-block" id="result"></span></div>
                <div class="form-group col-sm-4 col-md-3">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Subscribe Now →</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END SUBSCRIBE -->

<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <h5>ABOUT THE CHURCH</h5>
                <p>For the word of God is living and active. Sharper than any double-edged sword, it penetrates even to
                    dividing soul and spirit, joints and marrow; it judges the thoughts and attitudes.</p>
            </div>
            <div class="col-sm-6 col-md-3">
                <h5>QUICK LINKS</h5>
                <ul class="footer-links">
                    <li><a href="#">Upcoming events</a></li>
                    <li><a href="#">Ministries</a></li>
                    <li><a href="#">Recent Sermons</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h5>OUR ADDRESS</h5>
                <p> Catholic Church<br>
                    121 King Street, Melbourne <br>
                    Victoria 3000 Australia<br>
                    <br>
                    Phone: +61 3 8376 6284<br>
                    Email: <a href="#">mail@catholicwebsite.com</a></p>
            </div>
            <div class="col-sm-6 col-md-3">
                <h5>CONNECT</h5>
                <div class="social-icons"><a href="#"><img src="{% static 'images/fb-icon.png' %}" alt="social"></a> <a
                        href="#"><img src="{% static 'images/tw-icon.png' %}" alt="social"></a> <a href="#"><img
                        src="{% static 'images/in-icon.png' %}" alt="social"></a></div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p class="text-center">Copyright © 2021 All rights reserved</p>
        </div>
    </div>
</footer>
<!-- // END FOOTER -->

<!-- // END -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/ketchup.all.js' %}"></script>
<script src="{% static 'js/fancybox.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>
    /* ============== SUBSCRIBE FORM ================= */
    $(document).ready(function () {
        $('#subscribe_Form').ketchup().submit(function (e) {
            if ($(this).ketchup('isValid')) {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'subscriber_add' %}",
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: {
                        email: $('#address').val(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        $('#result').html(data);
                    },
                    error: function () {
                        $('#result').html('Sorry, an error occurred.');
                    }
                });
                e.preventDefault();
            }
            return false;
        });

    });

</script>
{% block script %} {% endblock %}

</body>
</html>
