{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block seo_description %}{% endblock %}
{% block seo_keyword %}{% endblock %}
{% block title %}Index Page{% endblock %}
{% block stylesheet %} {% endblock %}
{% block body %}

<!--SUBPAGE HEAD-->

<div class="subpage-head has-margin-bottom">
  <div class="container">
    <h3>Our Articles</h3>
    <p class="lead">Articles and latest writings related to Islam</p>
  </div>
</div>

<!-- // END SUBPAGE HEAD -->

<div class="container">
  <div class="row">
    <div class="col-md-9 has-margin-bottom"> 
      
      <!--Blog list-->
      {% for article in articles %}
      <div class="row has-margin-bottom">
        <div class="col-md-4 col-sm-4"> <img class="img-responsive center-block" src="{{ article.thumbnail.url }}" style="width: 265px; height: 177px;" alt="{{ article.title }}"> </div>
        <div class="col-md-8 col-sm-8 bulletin">
          <h4 class="media-heading">{{ article.title }}</h4>
          <p>{{ article.created_at|naturaltime }} by <a href="{% url 'author_articles' pk=article.author.id %}" class="link-reverse">{{ article.author.name}}</a></p>
          <p> {{ article.description|truncatechars:200 }}</p>
          <a class="btn btn-primary" href="{% url 'article_details' pk=article.id %}" role="button">Read Article →</a> </div>
      </div>
    {% endfor %}
      <!-- PAGINATION -->
      {% if is_paginated %}
    {% include "_pagination.html" %}
{% endif %}

    </div>
    <!--// col md 9--> 
    
    <!--Blog Sidebar-->
    <div class="col-md-3">
      <div class="blog-search has-margin-xs-bottom">
        <div class="input-group input-group-lg">
          <input type="search" name="q" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search glyphicon-lg"></i></button>
          </span> </div>
      </div>
      <div class="well">
        <h4>About</h4>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
      <div class="vertical-links has-margin-xs-bottom">
        <h4>Categories</h4>
        <ul class="list-unstyled">
            {% for category in categories %}
          <li><a href="{% url 'category_articles' pk=category.id %}">{{ category.name }} <span class="badge pull-right"></span> </a></li>
            {% endfor %}
        </ul>
      </div>
      <div class="tag-cloud has-margin-bottom"> <a href="#">catholic</a> <a href="#">bulletin</a> <a href="#">programs</a> <a href="#">events</a> <a href="#">church</a> <a href="#">charity</a> <a href="#">website</a> <a href="#">template</a> <a href="#">non-profit</a> <a href="#">belief</a> <a href="#">ministry</a> <a href="#">sermon</a> <a href="#">nature</a> </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %} {% endblock %}