{% extends 'base.html' %}
{% load static %}
{% block seo_description %}{% endblock %}
{% block seo_keyword %}{% endblock %}
{% block title %}Donate{% endblock %}
{% block stylesheet %} {% endblock %}
{% block body %}
    <!--SUBPAGE HEAD-->

    <div class="subpage-head has-margin-bottom">
        <div class="container">
            <h3>Donate us to spread Islamic love</h3>
            <p class="lead">All your donations will be spent in the way of Islam. <a href="#" class="link-reverse">Learn
                the details</a></p>
        </div>
    </div>

    <!-- // END SUBPAGE HEAD -->

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-success">
                    <div class="panel-body">
                        <!--Donate Box-->
                        <div class="charity-box has-margin-xs-bottom">
                            <div class="charity-desc">
                                <h2 class="pledged-amount has-no-margin">$6560.00</h2>
                                <p>Pledged of $15000 goal</p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%"><span class="sr-only">60% Complete</span>60%
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="pull-left has-margin-xs-right">
                                        <h3>24</h3>
                                        <p>Backers</p>
                                    </div>
                                    <div class="pull-left">
                                        <h3 class="pledged-amount">17</h3>
                                        <p>Days left</p>
                                    </div>
                                </div>
                                <div class="text-center has-margin-xs-top"><a href="#" class="btn btn-lg btn-primary">Donate
                                    Now →</a></div>
                            </div>
                        </div>
                        <!--// END Donate Box-->

                    </div>
                </div>
            </div>
            <!-- /.col-sm-6 -->
        </div>
    </div>

{% endblock %}
{% block script %} {% endblock %}