{% extends 'base.html' %}
{% load static %}
{% block seo_description %}{% endblock %}
{% block seo_keyword %}{% endblock %}
{% block title %}Index Page{% endblock %}
{% block stylesheet %} {% endblock %}
{% block body %}
<!--SUBPAGE HEAD-->

<div class="subpage-head has-margin-bottom">
  <div class="container">
    <h3>Full Width</h3>
    <p class="lead">An example of full width page with column sizes</p>
  </div>
</div>

<!-- // END SUBPAGE HEAD -->

<div class="container has-margin-bottom">
  <div class="row">
    <div class="col-md-12">
      <p class="lead"> Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. </p>
    </div>
    <div class="col-md-12">
      <h4>One Column</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros amet sollicitudin interdum. Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, etn elit. Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Nulla vitae elit libero, an id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
    </div>
    <div class="col-sm-6 col-md-6">
      <h4>Two Column</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros amet soll Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellusne auris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada. </p>
    </div>
    <div class="col-sm-6 col-md-6">
      <h4>Two Column</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros amet soll Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellusne auris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada. </p>
    </div>
    <div class="col-sm-4 col-md-4">
      <h4>Three Column</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut Suspendisse pulvinar, velit nec pharetra interdum, ante tel auris adipiscing mauris fringilla turpis interdum.</p>
    </div>
    <div class="col-sm-4 col-md-4">
      <h4>Three Column</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut Suspendisse pulvinar, velit nec pharetra interdum, ante tel auris adipiscing mauris fringilla turpis interdum.</p>
    </div>
    <div class="col-sm-4 col-md-4">
      <h4>Three Column</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut Suspendisse pulvinar, velit nec pharetra interdum, ante tel auris adipiscing mauris fringilla turpis interdum.</p>
    </div>
    <div class="col-sm-6 col-md-3">
      <h4>Four Column</h4>
      <p>Lorem ipsum dolor sit amet, consectetur ai ing elit. Ut volutpat rutrum eros amet sollc n interdum. Suspendisse pulvinar, velit neietrainterdum, ante tellus ornare.</p>
    </div>
    <div class="col-sm-6 col-md-3">
      <h4>Four Column</h4>
      <p>Lorem ipsum dolor sit amet, consectetur ai ing elit. Ut volutpat rutrum eros amet sollc n interdum. Suspendisse pulvinar, velit neietrainterdum, ante tellus ornare.</p>
    </div>
    <div class="col-sm-6 col-md-3">
      <h4>Four Column</h4>
      <p>Lorem ipsum dolor sit amet, consectetur ai ing elit. Ut volutpat rutrum eros amet sollc n interdum. Suspendisse pulvinar, velit neietrainterdum, ante tellus ornare.</p>
    </div>
    <div class="col-sm-6 col-md-3">
      <h4>Four Column</h4>
      <p>Lorem ipsum dolor sit amet, consectetur ai ing elit. Ut volutpat rutrum eros amet sollc n interdum. Suspendisse pulvinar, velit neietrainterdum, ante tellus ornare.</p>
    </div>
  </div>
</div>

{% endblock %}
{% block script %} {% endblock %}