{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block seo_description %}{% endblock %}
{% block seo_keyword %}{% endblock %}
{% block title %}Index Page{% endblock %}
{% block stylesheet %} {% endblock %}
{% block body %}

    <!-- BANNER SLIDER
        ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for c in cover %}
                <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"
                    class="{% if forloop.first %}active{% endif %}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for c in cover %}
                <div class="item slide-one {% if forloop.first %}active{% endif %}">
                    <div class="container">
                        <div class="carousel-caption">
                            {% if c.h2_text %}<h2>{{ c.h2_text }}</h2>{% endif %}
                            {% if c.h1_text %}<h1>{{ c.h1_text }}</h1>{% endif %}
                            {% if c.details_text %}<p class="lead"> {{ c.details_text }}</p>{% endif %}
                            {% if c.button_text %}<p><a class="btn btn-giant btn-primary" href="{{ c.button_url }}"
                                                        role="button">{{ c.button_text }}</a></p>{% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span
                class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
                                                                        href="#myCarousel" role="button"
                                                                        data-slide="next"><span
            class="glyphicon glyphicon-chevron-right"></span></a></div>
    <!-- // Banner Slider -->

    <!--UPCOMING EVENT-->

    <div class="highlight-bg has-margin-bottom">
        <div class="container event-cta">
            <div class="ec-txt"><span>UPCOMING EVENT</span>
                <p>"The Law Demands, but Grace Supplies" - Paster J.P.</p>
            </div>
            <a class="btn btn-lg btn-primary" href="event-single.html" role="button">Program details →</a></div>
    </div>

    <!-- // UPCOMING EVENT -->

    <!--FEATURED BLOCK-->
    <div class="container">
        <div class="row feature-block">
            {% for p in projects %}
                <div class="col-md-4 col-sm-6 has-margin-bottom"><img class="img-responsive" src="{{ p.logo.url }} "
                                                                      style="width: 370px; height: 200px;"
                                                                      alt="{{ p.name }}">
                    <h5>{{ p.name }}</h5>
                    <p>{{ p.short_description|truncatechars:150 }}</p>
                    <p><a href="{% url 'project_details' pk=p.id %}" role="button">View details →</a></p>
                </div>
            {% endfor %}
            <!-- /.col-md-4 -->
        </div>
    </div>
    <!-- // END FEATURED BLOCK-->

    <!--EVENT LISTS-->
    <div class="highlight-bg has-margin-bottom">
        <div class="container event-list">
            <div class="section-title">
                <h4> PROGRAMS &amp; EVENTS </h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel">
                        <div class="el-block item">
                            <h4> JULY 16 </h4>
                            <p class="el-head">Weekly meeting &amp; prayer</p>
                            <span>Monday 07:00 AM</span>
                            <p class="el-cta"><a class="btn btn-primary" href="event-single.html" role="button">Details
                                &rarr;</a></p>
                        </div>
                        <div class="el-block item">
                            <h4> JUL 29 </h4>
                            <p class="el-head">Show me your faith</p>
                            <span>Thursday 02:00 PM</span>
                            <p class="el-cta"><a class="btn btn-primary" href="event-single.html" role="button">Details
                                &rarr;</a></p>
                        </div>
                        <div class="el-block item">
                            <h4> SEP 19 </h4>
                            <p class="el-head">Perseravance of the saints</p>
                            <span>Saturday 10:00 AM</span>
                            <p class="el-cta"><a class="btn btn-primary" href="event-single.html" role="button">Details
                                &rarr;</a></p>
                        </div>
                        <div class="el-block item">
                            <h4> OCT 14 </h4>
                            <p class="el-head">God's irresistable grace</p>
                            <span>Sunday 11:00 AM</span>
                            <p class="el-cta"><a class="btn btn-primary" href="event-single.html" role="button">Details
                                &rarr;</a></p>
                        </div>
                        <div class="el-block item">
                            <h4> JULY 16 </h4>
                            <p class="el-head">Weekly meeting &amp; prayer</p>
                            <span>Monday 07:00 AM</span>
                            <p class="el-cta"><a class="btn btn-primary" href="event-single.html" role="button">Details
                                &rarr;</a></p>
                        </div>
                        <div class="el-block item">
                            <h4> JUL 29 </h4>
                            <p class="el-head">Show me your faith</p>
                            <span>Thursday 02:00 PM</span>
                            <p class="el-cta"><a class="btn btn-primary" href="event-single.html" role="button">Details
                                &rarr;</a></p>
                        </div>
                        <div class="el-block item">
                            <h4> SEP 19 </h4>
                            <p class="el-head">Perseravance of the saints</p>
                            <span>Saturday 10:00 AM</span>
                            <p class="el-cta"><a class="btn btn-primary" href="event-single.html" role="button">Details
                                &rarr;</a></p>
                        </div>
                        <div class="el-block item">
                            <h4> OCT 14 </h4>
                            <p class="el-head">God's irresistable grace</p>
                            <span>Sunday 11:00 AM</span>
                            <p class="el-cta"><a class="btn btn-primary" href="event-single.html" role="button">Details
                                &rarr;</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // END EVENT LISTS -->

    <!-- BLOG LIST / LATEST SERMONS -->
    <div class="container has-margin-bottom">
        <div class="row">
            <div class="col-md-9 has-margin-bottom">
                <div class="section-title left-align-desktop">
                    <h4> LATEST ARTICLES </h4>
                </div>

                <!--Blog list-->
{% for article in articles %}
                <div class="row {% if forloop.first %}has-margin-bottom{% endif %}">
                    <div class="col-md-4 col-sm-4"><img class="img-responsive center-block"
                                                            src="{{ article.thumbnail.url }}"
                                                            style="width: 265px; height: 177px;"
                                                            alt="{{ article.title }}"></div>
                    <div class="col-md-8 col-sm-8 bulletin">
                        <h4 class="media-heading">{{ article.title }}</h4>
                        <p>{{ article.created_at|naturaltime }} by <a
                                    href="{% url 'author_articles' pk=article.author.id %}"
                                    class="link-reverse">{{ article.author.name }}</a></p>
                        <p>{{ article.description|truncatechars:200 }}</p>
                        <a class="btn btn-primary" href="{% url 'article_details' pk=article.id %}" role="button">Read Article →</a></div>
                </div>
{% endfor %}
                <!--Blog list-->

            </div>
            <!--// col md 9-->

            <!--Latest Notice-->
            <div class="col-md-3">
                <div class="well">
                    <div class="section-title">
                        <h4> RECENT NOTICE </h4>
                    </div>
                    <div class="list-group">
                        {% for notice in notices %}
                        <a href="{% url 'notice_details' pk=notice.id %}" class="list-group-item">
                        <p class="list-group-item-heading">{{ notice.title | truncatechars:25 }}</p>
                        <p class="text-muted list-group-item-text">{{ notice.published_date.date }}</p></a>
{% endfor %}
                    <a href="{% url 'notice_list' %}" class="text-center list-group-item active">
                        <p class="btn btn-sm btn-primary ">View All</p></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END BLOG LIST / LATEST SERMONS -->

    <!--CHARITY DONATION-->
    <div class="container has-margin-bottom">
        <div class="section-title">
            <h4>GRACE OUTREACH </h4>
        </div>
        <div class="charity-box">
            <div class="charity-image"><img src="{% static 'images/charity-donation.jpg' %}" class="img-responsive"
                                            alt="charity donation fundraising"></div>
            <div class="charity-desc">
                <h3>Help human trafficking survivors</h3>
                <p> Posted by <a class="link-reverse" href="#">Steven</a> on Aug 11 2014</p>
                <h2 class="pledged-amount">$6560.00</h2>
                <p>Pledged of $15000 goal</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width: 60%"><span
                            class="sr-only">60% Complete</span>60%
                    </div>
                </div>
                <div class="pull-left has-margin-xs-right">
                    <h3>24</h3>
                    <p>Backers</p>
                </div>
                <div class="pull-left">
                    <h3 class="pledged-amount">17</h3>
                    <p>Days left</p>
                </div>
                <div class="donate-now"><a href="charity-donation.html" class="btn btn-lg btn-primary">Donate Now →</a>
                </div>
            </div>
        </div>
    </div>
    <!--// END CHARITY DONATION -->

    <!--OUR GALLERY-->
    <div class="container has-margin-bottom">
        <div class="section-title">
            <h4> OUR GALLERY </h4>
        </div>
        <div class="img-gallery row">
            {% for g in gallery %}
                <div class="col-sm-4 col-md-3"><a class="fancybox" href="{{ g.image.url }}"
                                                  data-fancybox-group="gallery" title="{{ g.short_description }}"> <img
                        src="{{ g.image.url }}" class="img-responsive" width="270" height="270"
                        alt="{{ g.short_description }}"> </a></div>
            {% endfor %}
        </div>
    </div>
    <!--// END OUR GALLERY -->

    <!-- QUOTES -->
    <div class="highlight-bg has-margin-bottom">
        <div class="container event-list">
            <div class="section-title">
                <h4> QUOTE </h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel2">
                        {% for q in quote %}
                            <div class="item">
                                <blockquote class="blockquote-centered">{{ q.quote_details }}
                                    <small>{{ q.reference }}</small>
                                </blockquote>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // END QUOTES -->

    <!-- OUR Accounts -->
    <div class="container">
        <div class="section-title">
            <h4> ACCOUNTS </h4>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Latest Expenses<span class="pull-right"><a href="#"><u>View All</u></a></span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Purpose</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for expense in expenses %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ expense.title }}</td>
                                    <td>৳ {{ expense.amount|floatformat:2|intcomma }}</td>
                                    <td>{{ expense.created_at }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.col-sm-6 -->
            <div class="col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Latest Donations <span class="pull-right"><a
                                href="#"><u>View All</u></a></span></h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Donated By</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for donation in donations %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{% if donation.is_visiable_to_public %}{{ donation.donor.name }} {% else %}
                                        Anonymous{% endif %}</td>
                                    <td>৳ {{ donation.amount|floatformat:2|intcomma }}</td>
                                    <td>{{ donation.created_at }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.col-sm-6 -->
        </div>
    </div>
    <!-- // END OUR MINISTRIES-->

{% endblock %}
{% block script %} {% endblock %}