{% extends 'base.html' %}
{% load static %}
{% block seo_description %}{% endblock %}
{% block seo_keyword %}{% endblock %}
{% block title %}Index Page{% endblock %}
{% block stylesheet %} {% endblock %}
{% block body %}
<!--SUBPAGE HEAD-->

<div class="subpage-head has-margin-bottom">
  <div class="container">
    <h3>Ministry</h3>
    <p class="lead"> God is faithful; he will not let you be tempted beyond what you can bear. </p>
  </div>
</div>

<!-- // END SUBPAGE HEAD -->

<div class="container has-margin-bottom">
  <div class="row">
    <div class="col-md-9 has-margin-bottom"> <img src="images/ministry-pic.jpg" class="img-responsive has-margin-xs-bottom" alt="ministry">
      <p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum. </p>
      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <blockquote> And we know that in all things God works for the good of those who love him, who have been called according to his purpose. </blockquote>
      <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
      <h4>Another Heading</h4>
      <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
      <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
    </div>
    <!--// col md 9--> 
    
    <!--Latest Sermons-->
    <div class="col-md-3">
      <div class="event-right-block has-border has-margin-bottom">
        <div class="section-title highlight-bg has-padding-xs-top has-padding-bottom">
          <h4> UPCOMING EVENTS </h4>
        </div>
        <div class="el-block has-margin-xs-bottom">
          <h4> JULY 16 </h4>
          <p class="el-head">Weekly meeting &amp; prayer</p>
          <span>Monday 07:00 AM</span>
          <p class="el-cta"><a class="btn btn-primary" href="#" role="button">Details →</a></p>
        </div>
        <div class="el-block ">
          <h4> JUL 29 </h4>
          <p class="el-head">Show me your faith</p>
          <span>Thursday 02:00 PM</span>
          <p class="el-cta"><a class="btn btn-primary" href="#" role="button">Details →</a></p>
        </div>
      </div>
      <div class="well">
        <div class="section-title">
          <h4> RECENT SERMONS </h4>
        </div>
        <div class="list-group"> <a href="#" class="list-group-item">
          <p class="list-group-item-heading">Heavens and the earth</p>
          <p class="list-group-item-text">24:15 mins</p>
          </a> <a href="#" class="list-group-item">
          <p class="list-group-item-heading">Prayer and petition</p>
          <p class="list-group-item-text">12:00 mins</p>
          </a> <a href="#" class="list-group-item">
          <p class="list-group-item-heading">Fruit of the Spirit</p>
          <p class="list-group-item-text">30:25 mins</p>
          </a> <a href="#" class="list-group-item">
          <p class="list-group-item-heading">Do not be afraid; keep on...</p>
          <p class="list-group-item-text">17:00 mins</p>
          </a> </div>
      </div>
    </div>
  </div>
</div>

<!-- RELATED MINISTRIES -->
<div class="container">
  <div class="section-title">
    <h4> RELATED MINISTRIES </h4>
  </div>
  <div class="row feature-block">
    <div class="col-md-4 col-sm-6 has-margin-bottom"> <img class="img-responsive" src="images/ministry_1.jpg" alt="catholic church">
      <h5>LOVE THE LORD</h5>
      <p>No temptation has seized you except what is common to man. And God is faithful; he will not let you be tempted beyond what you can bear. </p>
      <p><a href="#" role="button">Read more →</a></p>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 col-sm-6 has-margin-bottom"> <img class="img-responsive" src="images/ministry_2.jpg" alt="ministry sermon">
      <h5>DELIGHT YOURSELF IN LORD</h5>
      <p>Do not let this Book of the Law depart from your mouth; meditate on it day and night, so that you may be careful to do everything. successful.</p>
      <p><a href="#" role="button">Read more →</a></p>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 col-sm-8 col-sm-offset-2 col-md-offset-0 center-this has-margin-bottom"> <img class="img-responsive" src="images/ministry_3.jpg" alt="bulletin programs">
      <h5>FAITH DEVELOPS PERSEREVANCE</h5>
      <p>Through these he has given us his very great and precious promises, so that through them you may participate in the divine nature.</p>
      <p><a href="#" role="button">Read more →</a></p>
    </div>
    <!-- /.col-md-4 --> 
  </div>
</div>
<!-- // END RELATED MINISTRIES--> 

{% endblock %}
{% block script %} {% endblock %}