{% extends 'base.html' %}
{% load static %}
{% block seo_description %}{% endblock %}
{% block seo_keyword %}{% endblock %}
{% block title %}Index Page{% endblock %}
{% block stylesheet %} {% endblock %}
{% block body %}
<!--SUBPAGE HEAD-->

<div class="subpage-head has-margin-bottom">
  <div class="container">
    <h3>Prayers &amp; Worships</h3>
    <p class="lead">Catholic Church prayers and worships to save the world</p>
  </div>
</div>

<!-- // END SUBPAGE HEAD -->

<div class="container">
  <div class="row">
    <div class="col-md-9 has-margin-bottom">
      <section class="comments-block">
        <div class="media"> <a class="pull-left" href="#"> <img class="media-object" alt="avatar" src="images/avatar-1.jpg"> </a>
          <div class="media-body">
            <h4 class="media-heading">Prayers for the Armed Forces</h4>
            <p class="text-muted">Prayed on Aug 10, 2014 by <a href="#">James Norton</a></p>
            Heavenly Father, we commend to your gracious care and keeping all the men and women in our Armed Forces at home and abroad. Defend them day by day with your heavenly grace; strengthen them in their trials and temptations; and give them courage to face the perils that beset them; and help them to know that nothing can separate them from your love; in Jesus Christ our Lord. Amen </div>
        </div>
        <div class="media"> <a class="pull-left" href="#"> <img class="media-object" alt="avatar" src="images/avatar-2.jpg"> </a>
          <div class="media-body">
            <h4 class="media-heading">Prayers for the financial situation, debt and redundancy</h4>
            <p class="text-muted">Prayed on Aug 10, 2014 by <a href="#">Mark Johns</a></p>
            Lord God, we live in disturbing days: across the world, prices rise, debts increase, markets are in turmoil, jobs are taken away, and fragile security is under threat. Loving God, meet us in our fear and hear our prayer: be a tower of strength amidst the shifting sands, and a light in the darkness; help us receive your gift of peace, and fix our hearts where true joys are to be found, in Jesus Christ our Lord. Amen. </div>
        </div>
        <div class="media"> <a class="pull-left" href="#"> <img class="media-object" alt="avatar" src="images/avatar-1.jpg"> </a>
          <div class="media-body">
            <h4 class="media-heading">Prayers for the people of Mosul</h4>
            <p class="text-muted">Prayed on Aug 10, 2014 by <a href="#">James Norton</a></p>
            Lord, in this city where Christians and Muslims have lived together for over 1400 years, we pray for healing, peace and restoration. Bring light out of this present darkness and hope from despair that guided by your Holy Spirit, all your children may find a new way forward together based on your love for us all. Amen </div>
        </div>
        <div class="media"> <a class="pull-left" href="#"> <img class="media-object" alt="avatar" src="images/avatar-1.jpg"> </a>
          <div class="media-body">
            <h4 class="media-heading">A Prayer for peace in Gaza</h4>
            <p class="text-muted">Prayed on Aug 10, 2014 by <a href="#">Francis George</a></p>
            Lord God of compassion, whose will is for peace built on righteousness, we pray for peace in Gaza and Israel: for an end to hostilities, for comfort and help for all who suffer, and for reconciliation between Palestine and Israel, through Jesus Christ, the Prince of Peace. Amen. </div>
        </div>
      </section>
      <section class="post-comment-form">
        <h3 class="comments-head">Add your prayer</h3>
        <form class="form" role="form">
          <div class="row">
            <div class="form-group col-md-4 col-sm-4">
              <input type="text" class="form-control input-lg" placeholder="Your name">
            </div>
            <div class="form-group col-md-4 col-sm-4">
              <input type="email" class="form-control input-lg" placeholder="Your email">
            </div>
            <div class="form-group col-md-4 col-sm-4">
              <input type="url" class="form-control input-lg" placeholder="Phone (optional)">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <textarea cols="8" rows="4" class="form-control input-lg" placeholder="Your Prayer"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <button type="submit" class="btn btn-primary btn-lg">Submit Prayer</button>
            </div>
          </div>
        </form>
      </section>
    </div>
    <!--// col md 9--> 
    
    <!--Blog Sidebar-->
    <div class="col-md-3">
      <div class="blog-search has-margin-xs-bottom">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search glyphicon-lg"></i></button>
          </span> </div>
      </div>
      <div class="well">
        <h4>About</h4>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
      <div class="vertical-links has-margin-xs-bottom">
        <h4>Prayer archives</h4>
        <ul class="list-unstyled">
          <li><a href="#">March 2014 <span class="badge pull-right">23</span> </a></li>
          <li><a href="#">February 2014 <span class="badge pull-right">17</span> </a></li>
          <li><a href="#">January 2014 <span class="badge pull-right">34</span> </a></li>
          <li><a href="#">December 2013 <span class="badge pull-right">28</span> </a></li>
          <li><a href="#">November 2013 <span class="badge pull-right">12</span> </a></li>
          <li><a href="#">October 2013 <span class="badge pull-right">28</span> </a></li>
        </ul>
      </div>
      <div class="tag-cloud has-margin-bottom"> <a href="#">catholic</a> <a href="#">bulletin</a> <a href="#">programs</a> <a href="#">events</a> <a href="#">church</a> <a href="#">charity</a> <a href="#">website</a> <a href="#">template</a> <a href="#">non-profit</a> <a href="#">belief</a> <a href="#">ministry</a> <a href="#">sermon</a> <a href="#">nature</a> </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %} {% endblock %}